body {
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Muli', sans-serif;
  padding: 1em 2em;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
}

p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 200;
  line-height: 2em;
  text-align: center;
}

/* ---------- signup form ---------- */

#mc_embed_signup form {
  width: 100%;
}

#mc_embed_signup{
  width: 90%;
  padding: 2em 3em;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
}

#mc_embed_signup .button {
  background-color: #484848 !important;
}

#mc_embed_signup label {
  margin-bottom: 2.5em;
  line-height: 2em;
  /* font-family: 'Muli', sans-serif; */
}

/* ---------- contact & social media ---------- */

.contact {
  display: flex;
  justify-content: center;
}

.social-media, .mail {
  display: flex;
  text-decoration: none;
  padding: 0 1em;
}

.mail p, .social-media p {
  margin: 0;
  letter-spacing: 2px;
  font-size: 1em;
}

.mail img, .social-media img{
  padding-right: 1em;
}

.mail:hover {
  text-decoration: none;
  background-color: #000;
}

.social-media:hover {
  text-decoration: none;
  background-color: #000;
}

/* ---------- media query ---------- */

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 4em;
  }
}
